:host {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: auto min-content;
    column-gap: 20px;
    align-items: center;
}

.icon-list,
.button-list,
.button-group-list,
.spinner-list,
.label-list,
.hyperlink-list,
.logo-list,
.switch-list,
.menu-list,
.dialog-list {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.input-list,
.message-list,
.caption-list,
.expand-list,
.divider-list,
.image-list,
.legend-list,
.progress-list,
.slider-list,
.card-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.image-height {
    height: 150px;
}

.image-width {
    width: 100px;
}
