<h1>@namitoyokota/ng-components</h1>

<h2>Icon</h2>
<div class="icon-list">
    <ny-icon [name]="'fa-home'"></ny-icon>
    <ny-icon [name]="'fa-magnifying-glass'" [clickable]="true" [dark]="true"></ny-icon>
    <ny-icon [name]="'fa-user'" [border]="true" [clickable]="true"></ny-icon>
    <ny-icon [name]="'fa-check'" [border]="true" [clickable]="true" [dark]="true"></ny-icon>
    <ny-icon [name]="'fa-location-dot'" [border]="true" [clickable]="true"></ny-icon>
    <ny-icon [name]="'fa-star'" [border]="true" [clickable]="true" [dark]="true"></ny-icon>
</div>

<h2>Button</h2>
<div class="button-list">
    <ny-button [text]="'Light Button'" (clicked)="buttonClick()"></ny-button>
    <ny-button [text]="'Light Button'" [icon]="'fa-star'" (clicked)="buttonClick()"></ny-button>
    <ny-button [text]="'Dark Button'" [dark]="true" (clicked)="buttonClick()"></ny-button>
    <ny-button [text]="'Dark Button'" [icon]="'fa-check'" [dark]="true" (clicked)="buttonClick()"></ny-button>
</div>

<h2>Spinner</h2>
<div class="spinner-list">
    <ny-spinner></ny-spinner>
    <ny-spinner class="dark" [dark]="true"></ny-spinner>
</div>

<h2>Link</h2>
<div class="hyperlink-list">
    <ny-link [src]="'https://www.namito.wiki'" [text]="'Portfolio'"></ny-link>
    <ny-link class="dark" [src]="'https://www.github.com/namitoyokota'" [text]="'GitHub'" [dark]="true"></ny-link>
</div>

<h2>Message</h2>
<div class="message-list">
    <ny-message [text]="'Light Message'" (clicked)="buttonClick()"></ny-message>
    <ny-message [text]="'Light Message'" [icon]="'fa-circle-info'" (clicked)="buttonClick()"></ny-message>
    <ny-message class="dark" [text]="'Dark Message'" [dark]="true" (clicked)="buttonClick()"></ny-message>
    <ny-message class="dark" [text]="'Dark Message'" [icon]="'fa-circle-question'" [dark]="true" (clicked)="buttonClick()"></ny-message>
</div>

<h2>Divider</h2>
<div class="divider-list">
    <ny-divider></ny-divider>
    <ny-divider class="dark" [dark]="false"></ny-divider>
</div>

<h2>Image</h2>
<ny-image [src]="'/assets/JAN_2110.jpg'" [fit]="fit"></ny-image>
