<h1>@namitoyokota/ng-components</h1>

<h2>Icon</h2>
<div class="icon-list">
    <ny-icon [name]="'fa-home'"></ny-icon>
    <ny-icon [name]="'fa-spinner'" [spin]="true"></ny-icon>
    <ny-icon [name]="'fa-magnifying-glass'" [clickable]="true" [dark]="true"></ny-icon>
    <ny-icon [name]="'fa-user'" [border]="true" [clickable]="true"></ny-icon>
    <ny-icon [name]="'fa-check'" [border]="true" [clickable]="true" [dark]="true"></ny-icon>
    <ny-icon [name]="'fa-location-dot'" [border]="true" [clickable]="true"></ny-icon>
    <ny-icon [name]="'fa-star'" [border]="true" [clickable]="true" [dark]="true"></ny-icon>
</div>

<h2>Hyperlink</h2>
<div class="hyperlink-list">
    <ny-hyperlink [src]="'https://www.namito.wiki'" [text]="'Portfolio'"></ny-hyperlink>
    <ny-hyperlink [src]="'https://www.github.com/namitoyokota'" [text]="'GitHub'" [dark]="true"></ny-hyperlink>
</div>

<h2>Image</h2>
<ny-image [src]="'/assets/JAN_2110.jpg'" [fit]="fit"></ny-image>
