:host {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.icon-list,
.button-list,
.button-group-list,
.spinner-list,
.label-list,
.hyperlink-list,
.logo-list,
.switch-list,
.theme-switch-list,
.menu-list {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.input-list,
.message-list,
.caption-list,
.divider-list,
.image-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.image-height {
    height: 150px;
}

.image-width {
    width: 100px;
}

.dark {
    padding: 10px;
    background-color: #000;
}
